body {
background-color: rgb(255, 0, 0);
color:rgb(255, 255, 255)
margin: 0px;
margin-bottom: 100px;
}

header {
 border: solid 2px #ff0000;
 font-size: 32px;
 padding: 10px;
 color: #ffffff;
}

.chamada {
 background-color: #fd0c09; /* cor escolhida */
 padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content: center;
}

.chamada-texto {
margin-right: 5%;  
}
 
h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  color: rgb(252, 252, 252);
}

.categoria{
 padding-left: 20px;  
 padding-right: 20px;
 margin-top: 50px;
}

.categoria-videos{
 display: flex;
 overflow: auto;
 gap: 10px;
}

.categoria-videos img {
 opacity: 0.5;
 height: 200px;
}

.categoria-videos img:hover {
 opacity: 1.0;
 border: 1px solid #ffffff;
}

.categoria {
 color: #ffffff
}